Registry

This issue is dedicated to discussing and defining the Registry Component for the pilot, specifically covering:
- the format of the Registry Component.

## Target File
[`topics/registry.md`](https://github.com/APTITUDE-Consortium/wp2-trust-specifications/blob/main/topics/registry.md)

## References
- General References:
  - [ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md).

- Registry:
  - [ARF - TS5](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts5-common-formats-and-api-for-rp-registration-information.md);
  - [WE BUILD Issue #20](https://github.com/webuild-consortium/wp4-trust-group/issues/20).

## To-do list
- [ ] Open PR;
- [ ] Describe Registry format with non-normative examples;
- [ ] Are the listed PR items complete? Do we need more?
- [ ] Are the references complete? If not, add new ones specifying the normative, functional, and/or issue-solving requirements (e.g., from ARF, from Issue #XX) for which the additional reference is required, and what the purpose of the reference (a short summary suffices).

### Format syntax
The format of an artifact must be described as a Markdown table with four columns: 
- Parameter: name of the parameter; 
- Type: parameter type (e.g., string, int, JSON object);
- Description: human readable description of the parameter. If a parameter is a JSON Object, then a new table specific for the parameter must be created afterward:
- Reference: Link to the specification from which the parameter originated.  

#### Example:
Code:
```markdown
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |
```

Preview:
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |