Trust Management Process

This issue is dedicated to discussing and defining the trust management process and relevant revocation mechanisms, specifically covering:
- An overview and high-level diagram of the Trust Management Process;
- States for Entities, Access & Registration certificates;
- States transitions for Entities, Access & Registration certificates;
- Technologies and standards needed to manage Certificate states;
- Detailed diagram of the interactions between Entities and Components during Certificate validity checks (e.g., the Wallet Unit checks downloads the SLT for the Registration Certificate);
- Detailed formats for each request and response between Entities and Components during Certificate validity checks (e.g., the Wallet Unit sends a GET request to the SLT provider endpoint);
- Detailed list of the checks performed by the Entities involved (e.g., the Wallet Unit authenticates the SLT obtained with the SLT Provider certificate);
- Status List (SL), Certificate Revocation List (CRL), Online Certificate Status Protocol (OCSP) formats.

## Target File
[`topics/trust-management-process.md`](https://github.com/APTITUDE-Consortium/wp2-trust-specifications/blob/main/topics/trust-management-process.md)

## References
- General References:
  - [ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md).

- Trust Management Process:
  - [RFC 5280](https://datatracker.ietf.org/doc/html/rfc5280);
  - [ETSI TS 119 411-8 V1.1.1](https://www.etsi.org/deliver/etsi_ts/119400_119499/11941108/01.01.01_60/ts_11941108v010101p.pdf);
  - [ETSI TS 119 412-6 V1.1.1](https://www.etsi.org/deliver/etsi_ts/119400_119499/11941206/01.01.01_60/ts_11941206v010101p.pdf);
  - [ETSI TS 119 612 V2.4.1 §A.1](https://www.etsi.org/deliver/etsi_ts/119600_119699/119612/02.04.01_60/ts_119612v020401p.pdf).

- Revocations Mechanisms: 
  - CRL: [RFC 5280](https://datatracker.ietf.org/doc/html/rfc5280#page-54);
  - OCSP: [RFC 6960](https://datatracker.ietf.org/doc/html/rfc6960);
  - [TSL-Draft](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-status-list-13).
  - [Bitstring Status List v1.0](https://www.w3.org/TR/vc-bitstring-status-list/).
 
## To-do list
- [ ] Open PR;
- [ ] Describe Revocation Mechanisms:
  - [ ] CRL
  - [ ] OCSP
  - [ ] SL 
- [ ] Provide state diagrams (diagrams must be made using [Mermaid](https://mermaid.js.org/syntax/stateDiagram.html) and the code must be included in Markdown);
- [ ] Provide a detailed sequence diagram for trust revocation;
- [ ] Discuss what components of trust management is in scope;
- [ ] Are the listed PR items complete? Do we need more?
- [ ] Are the references complete? If not, add new ones specifying the normative, functional, and/or issue-solving requirements (e.g., from ARF, from Issue #XX) for which the additional reference is required, and what the purpose of the reference (a short summary suffices).

### Diagrams
Diagrams must be made using [Mermaid](https://mermaid.js.org/syntax/sequenceDiagram.html) and the code must be included in Markdown as follows:

````markdown
```mermaid
Diagram code
```
````

This results in the diagram being automatically rendered within the file.

#### Example
Code:
````markdown
```mermaid
sequenceDiagram
    Alice->>Bob: Request
    Bob-->>Alice: Response
```
````

Preview:
```mermaid
sequenceDiagram
    Alice->>Bob: Request
    Bob-->>Alice: Response
```

### Format syntax
The format of an artifact must be described as a Markdown table with four columns: 
- Parameter: name of the parameter; 
- Type: parameter type (e.g., string, int, JSON object);
- Description: human readable description of the parameter. If a parameter is a JSON Object, then a new table specific to the parameter must be created afterward:
- Reference: Link to the specification from which the parameter originated.  

#### Example:
Code:
```markdown
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |
```

Preview:
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |

Moved to an incremental release (v0.1.1) to be performed as soon as the topic will be ready for publication (around May).