Revocation Mechanisms

This issue is dedicated to describing and discussing relevant revocation mechanisms, specifically covering:
- Status List (SL), Certificate Revocation List (CRL), Online Certificate Status Protocol (OCSP) formats.

## Target File
[`topics/revocation-mechanisms.md`](https://github.com/APTITUDE-Consortium/wp2-trust-specifications/blob/main/topics/revocation-mechanisms.md)

## References
- General References:
  - [ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md).

- Revocations Mechanisms: 
  - CRL: [RFC 5280](https://datatracker.ietf.org/doc/html/rfc5280#page-54);
  - OCSP: [RFC 6960](https://datatracker.ietf.org/doc/html/rfc6960);
  - [TSL-Draft](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-status-list-13).
  - [Bitstring Status List v1.0](https://www.w3.org/TR/vc-bitstring-status-list/).
 
## To-do list
- [ ] Open PR;
- [ ] Describe Revocation Mechanisms:
  - [ ] CRL
  - [ ] OCSP
  - [ ] SL 
- [ ] Are the listed PR items complete? Do we need more?
- [ ] Are the references complete? If not, add new ones specifying the normative, functional, and/or issue-solving requirements (e.g., from ARF, from Issue #XX) for which the additional reference is required, and what the purpose of the reference (a short summary suffices).

### Format syntax
The format of an artifact must be described as a Markdown table with four columns: 
- Parameter: name of the parameter; 
- Type: parameter type (e.g., string, int, JSON object);
- Description: human readable description of the parameter. If a parameter is a JSON Object, then a new table specific to the parameter must be created afterward:
- Reference: Link to the specification from which the parameter originated.  

#### Example:
Code:
```markdown
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |
```

Preview:
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |

Closing as it has been merged into #14.

Reopening the issue as a new PR will be branched from #46.