Entitlement and Policy

This issue is dedicated to discussing and defining Entitlements and Policies for the pilot, specifically covering:
- Entitlement formats inside the Registration Certificate;
- Logic used to evaluate aggregated Entitlements during the Authorization Process;
- Embedded Disclosure Policies: an artifact that the Attestation Provider can express for a QEAA, PuB-EAA, or non-qualified EAA, it can be of type *Authorised relying parties only policy* or *Specific root of trust*.

## Target File
[`topics/entitlement-policy.md`](https://github.com/APTITUDE-Consortium/wp2-trust-specifications/blob/main/topics/entitlement-policy.md)

## References
- General References:
  - [ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md).

- Informative:
  - [WE BUILD Issue #2](https://github.com/webuild-consortium/wp4-trust-group/issues/2);
  - [WE BUILD Issue #3](https://github.com/webuild-consortium/wp4-trust-group/issues/3);
  - [WE BUILD Issue #4](https://github.com/webuild-consortium/wp4-trust-group/issues/4).

- Entitlements Evaluation: 
  - [WE BUILD Issue #16](https://github.com/webuild-consortium/wp4-trust-group/issues/16);
  - [WE BUILD Issue #28](https://github.com/webuild-consortium/wp4-trust-group/issues/28);
  - [WE BUILD Issue #18](https://github.com/webuild-consortium/wp4-trust-group/issues/18);
  - [WE BUILD Issue #29](https://github.com/webuild-consortium/wp4-trust-group/issues/29);
  - [WE BUILD PR #33](https://github.com/webuild-consortium/wp4-trust-group/pull/33).

- Embedded disclosure policies:
  - [CIR EU 2025/2979](https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=OJ:L_202402979)
  - [ARF §6.6.2.7](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md#6627-provisioning-embedded-disclosure-policies)

## To-do list
- [ ] Open PR;
- [ ] Describe Registration Certificate format with non-normative examples;
- [ ] Are the listed PR items complete? Do we need more?
- [ ] Are the references complete? If not, add new ones specifying the normative, functional, and/or issue-solving requirements (e.g., from ARF, from Issue #XX) for which the additional reference is required, and what the purpose of the reference (a short summary suffices).

### Format syntax
The format of an artifact must be described as a Markdown table with four columns: 
- Parameter: name of the parameter; 
- Type: parameter type (e.g., string, int, JSON object);
- Description: human readable description of the parameter. If a parameter is a JSON Object, then a new table specific to the parameter must be created afterward:
- Reference: Link to the specification from which the parameter originated.  

#### Example:
Code:
```markdown
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |
```

Preview:
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |