Trusted List and List of Trusted Lists

This issue is dedicated to discussing and defining Trusted List and List of Trusted Lists for the pilot, specifically covering:
- the format of a Trusted List;
- the format of a List of Trusted Lists.

## Target File
[`topics/trusted-list-and-list-of-trusted-lists.md`](https://github.com/APTITUDE-Consortium/wp2-trust-specifications/blob/main/topics/trusted-list-and-list-of-trusted-lists.md)

## References
- General References:
  - [ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md).
  - [WEBUILD](https://github.com/webuild-consortium/wp4-trust-group/blob/main/task3-x509-pki-etsi/etsi_trusted_lists_implementation_profile.md)

- TL, LoTE and LoTL
  - [ETSI TS 119 612 V2.4.1](https://www.etsi.org/deliver/etsi_ts/119600_119699/119612/02.04.01_60/ts_119612v020401p.pdf);
  - [ETSI TS 119 602 V1.1.1](https://www.etsi.org/deliver/etsi_ts/119600_119699/119602/01.01.01_60/ts_119602v010101p.pdf).
  - [TLv6 is coming: Upgrade now to avoid signature validation failures - EC](https://ec.europa.eu/digital-building-blocks/sites/spaces/DIGITAL/pages/887386519/TLv6+is+coming+Upgrade+now+to+avoid+signature+validation+failures)

## To-do list
- [ ] Open PR;
- [ ] Describe TL format;
- [ ] Describe LoTE format;
- [ ] Describe LoTL format;
- [ ] Are the listed PR items complete? Do we need more?
- [ ] Are the references complete? If not, add new ones specifying the normative, functional, and/or issue-solving requirements (e.g., from ARF, from Issue #XX) for which the additional reference is required, and what the purpose of the reference (a short summary suffices).

### Format syntax
The format of an artifact must be described as a Markdown table with four columns: 
- Parameter: name of the parameter; 
- Type: parameter type (e.g., string, int, JSON object);
- Description: human readable description of the parameter. If a parameter is a JSON Object, then a new table specific for the parameter must be created afterward:
- Reference: Link to the specification from which the parameter originated.  

#### Example:
Code:
```markdown
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |
```

Preview:
| Parameter | Type | Description | Reference |
| :-------- | :--- | :---------- | :-------- |
| `iss` | *string* | Identifier of the principal that issued the JWT. | [RFC 7519 §4.1.1](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) |

Closing as resolved by #25.